<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja Namiotow</title>
</head>
<body>
<form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="SEARCH">
</form>
<table>
    <tr>
        <th>ID</th>
        <th>ROZMIAR</th>
        <th>KOLOR</th>
        <th>STANDARD</th>
        <th></th>
    </tr>
{% for namiot in object_list %}
    <!-- Display Objects -->
    <tr>
        <td>{{ namiot.id }}</td>
        <td>{{ namiot.rozmiar }}</td>
        <td>{{ namiot.kolor }}</td>
        <td>{{ namiot.standard }}</td>
        <td>
            <form action="{% url 'details' namiot.id %}">
                 {% csrf_token %}
                <input type="submit" value="details">
            </form>
        </td>
    </tr>



{% endfor %}
</table>
</body>
</html>